main {
  max-width: 1110px;
  margin: 0 auto;
  padding: 2rem;
}

.body-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.body-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 80vh;
}

.list {
  grid-column: span 1 / span 1;
  border-right: 1px solid lightgray;
  overflow-y: scroll;
}



.list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0.8rem 0.5rem;

  border: 1px solid lightgray;
}

.list-item p {
  font-size: 1.25rem;
  font-weight: 550;
}

.title-content {
  font-size: 0.95rem;
  text-align: start;
}

.list-item:hover {
  background: lightgray;
}

.details {
  grid-column: span 3 / span 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

}

.content-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem
}

.address-title {
  font-weight: 600;
  margin-right: .4rem;
}

.image-container {
  display: grid;
  grid-template-columns: (3, 1fr);
  grid-template-rows: (3, 1fr);
}