body{
    background-color: #f7f4f4;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(225, 221, 221);
}